.landing-page{
    overflow: hidden;
}
.swiper-slide{
    width: 100%;
}
.img-fill{
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.landing-page .item-1 .img-fill{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/image1.jpg);
    background-attachment: fixed;
}
.landing-page .item-2 .img-fill{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/image2.jpg);
}
.landing-page .item-3 .img-fill{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/image3.jpg);
    background-attachment: fixed;
}
.text-content{
    width: 50%;
    position: absolute;
    top: 30%;
    left: 10%;
    text-align: left;
    transition: translate(-50%, -50%);
    color: white;
}
.text-content p{
    font-size: 70px;
    line-height: 70px;
    text-transform: capitalize;
}
.text-content .bottom-text{
    display: flex;
    align-items: center;
}
.bottom-text h4{
    font-size: 24px;
    margin-right: 15px;
    font-weight: 400;
    text-transform: uppercase;
}
.bottom-text h4:nth-child(2){
    color: #a4c639;
}
.text-content button{
    padding: 1rem 4rem;
    background-color: #a4c639;
    color: white;
    font-size: 16px;
    font-weight: 500;
    border: none;
    margin-top: 40px;
}
.banner{
    background: #a4c639;
    padding: 30px 0;
    color: white;
}
.banner .banner-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content button{
    padding: .8rem 2rem;
    font-size: 16px;
    font-weight: 500;
    border: 2px solid white;
    background: transparent;
    border-radius: 20px;
    color: white;
}
.banner-content .phone-no{
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.banner-content .phone-no p{
    font-size: 20px;
    font-weight: 400;
}
.banner-content .phone-no svg{
    font-size: 45px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 50%;
    background: #fff;
    color: #a4c639;
}
.phone-no svg{
    /* width: 30px; */
    animation: move 1s infinite alternate;
}

@keyframes move {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(20px);
    }
}
@media only screen and (max-width : 980px){
    .text-content{
        top:20%;
        left: 5%; 
    }
    .text-content p{
        font-size: 54px;
    }
}
@media only screen and (max-width : 480px){
    .text-content{
        top: 15%;
        left: 0;
        width: 100%;
        text-align: center;
    }
    .text-content p{
        font-size: 35px;
        line-height: 40px;
        padding: 20px 40px ;
        margin-bottom: 2rem;
    }
    .bottom-text{
        width: 50%;
        margin: 0px auto 30px;
        text-align: center;
    }
    .bottom-text h4{
        margin: 0px auto;
        font-size: 16px;
    }
    .text-content button{
        margin-top: 20px;
    }
    .banner{
        padding: 15px 0;
    }
    .banner-text{
        width: 60%;
    }
    .banner-content h3{
        font-size: 18px;
    }
    .banner-content p{
        font-size: 14px;
        width: 60%;
        color: #fdf5f5;
    }
    .banner-content button{
        padding: .7em 2em;
        font-size: 14px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }
    .banner-content .phone-no p{
        font-size: 12px;
    }
    .banner-content .phone-no svg{
        font-size: 20px;
        padding: 5px;
    }
}