header{
    background: transparent;
    position: relative;
    padding: 0 10%;
}
nav{
    display: flex;
    color: #9c9c9c;
    justify-content: space-between;
    align-items: center;
}
.navbar-nav a{
    color: #a7a7a7;
}
.navbar-nav a:hover{
    text-decoration: none;
    color: #A4C639;
    border-bottom: 3px solid #A4C639;
}
.navbar-expand-lg .navbar-nav a{
    margin-right: 3.5rem;
}
.hamburger, .header .mobile{
    display: none;
}
@media only screen and (max-width: 768px){
    .header .mobile{
        display: flex;
        position: absolute;
        top: 50px;
        right: 0;
        flex-direction: column;
        background: #fafded;
        height: 200px;
        width: 100%;
        z-index: 9999;
        padding: 12px;
        line-height: 30px;
    }
    .hamburger{
        display: block;
    }
    .header .desktop{
        display: none;
    }
    .navbar-nav a:hover{
        border: none;
    }
}